/*
license: hausgarten
author: lysenko_igor Designer/ Front End Developer
vk.com/de_antrage
*/

/**{
	box-shadow: 0px 0px 1px red;
}
*/

.content{
	padding-bottom: 35px;
	margin-bottom: 75px;
}

#alphabet-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding:0px 40px;
    margin-bottom: 0px;
}

#alphabet-flex li{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    list-style-type:none;
}
#alphabet-flex li a{
	color: #595959;
}
#actions-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding:0px 40px;
}

#actions-flex .actions-flex-item{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    list-style-type:none;
    height: 315px;
    overflow: hidden;
	text-align: center;
    position: relative;
    padding: 0px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
    float: left;
    max-width: 558px;
}







#actions-flex .actions-flex-item:hover{
    overflow: visible;
}
#actions-flex .actions-flex-item .inside-flex-item{
    position: relative;
    min-height: 290px;
    height: auto;
    width: 100%;
    background: #fff;
    padding:15px;
    border: 1px solid #e9e9e9;
}
#actions-flex .actions-flex-item .inside-flex-item .img-wrapper{
    float: left;
    max-width: 378px;
    width: 70%;

    padding: 0px 15px 15px 0px;
    text-align: center;
}

#actions-flex .actions-flex-item .inside-flex-item img{
    width: 100%;
}

#actions-flex .actions-flex-item .inside-flex-item > div:not(.img-wrapper){
   float: right;
   width: 30%;
   text-align: right;
   font-family: 'segoe-ui-light';
}

#actions-flex .actions-flex-item .inside-flex-item > div.actions-name{
    font-size: 21px;
}

#actions-flex .actions-flex-item .inside-flex-item > div.actions-date{
    font-size: 14px;
    color: #777777;
}

#actions-flex .actions-flex-item .inside-flex-item > div.actions-percent{
    font-size: 50px;
    padding: 40px 0px;
    line-height: 30px;
    font-weight: 100;
    color: #777777;
    font-family: 'HelveticaNeueCyr-UltraLight';
}

#actions-flex .actions-flex-item .inside-flex-item > div.actions-description{
   text-align: right;
   text-overflow: ellipsis;
   padding-bottom: 15px;
   line-height: 22px;
   text-align: right;
   float: none;
   width:auto;
}

#actions-flex .actions-flex-item:hover .inside-flex-item{
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    z-index: 99999999;
    height: auto;
}

/*#actions-flex .actions-flex-item:hover{
   	overflow: visible;
}


#actions-flex .actions-flex-item .inside-flex-item{
	position: relative;
	height: 100%;
   	width: 100%;
    margin-right: 5px;
	background:#fff;
	display: table;	
}
#actions-flex .actions-flex-item .inside-flex-item .bg-image {
	display: table-cell;
	vertical-align: top;
	position: relative;
	top:0px;left: 0px;
    width: 70%;
	max-width: 378px;
	height: 100%;
	background: url(/img/delivery/actionss/chanel.png);
	background-repeat: no-repeat;
	background-position: center;
}

#actions-flex .actions-flex-item .inside-flex-item .actions-name {
	display: table-row;
	vertical-align: top;
    display: inline-block;
	position: absolute;
	top:30px;
    right: 0px;
	text-align: right;
    padding: 0px 25px;
}
#actions-flex .actions-flex-item .inside-flex-item .actions-title {
	display: table-row;
	vertical-align: top;
	position: absolute;
    display: inline-block;
	top:50px;
	right: 0px;
	text-align: right;
	padding: 0px 25px;
}
#actions-flex .actions-flex-item .inside-flex-item .actions-description {
    display: table-cell;
    z-index: 30;
    position: relative;
    left: 0px;
    padding: 25px;
    top: 100%;
    vertical-align: bottom;
    box-shadow: 0px 15px 15px 5px rgba(0,0,0,0.1);
    background: #fff;
    border: 1px solid rgba(214, 214, 214, 0.99);
    border-top: none;
    text-align: left;
    margin-left: -1px;
    width: 30%;
}


*/

#actions-flex .actions-flex-item .inside-flex-item .actions-description .btn-detail-wrap{
    width: 100%;
    padding: 15px;
}
#actions-flex .actions-flex-item .inside-flex-item .actions-description .btn-detail{
    background: #23a819;
    padding: 5px 15px;
    margin: 0px 0px 0px 50px;
    float: right; 
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}
#actions-flex .actions-flex-item .inside-flex-item .actions-description .btn-detail:hover{
    background: #1C7D14;
}

#content-padding-bottom{
    margin-bottom: 40px;
    z-index: 999;
}
